body{
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size:100%;
}
.header {
	height: 130px;
    min-height: 50px;
    max-height: 130px;
    background: url("../images/bg-repeat.gif"); 
    text-align: center;
}
.header img{
    margin: 12px 0px;
    height: auto;
    max-width: 100%;
}
.maintText {
    padding: 20px;
}
.maintText .title{
    font-size: 3.0em;/*34px;*/
    font-weight: normal;
}
.maintText .subTitle{
    font-size: 2.6em;
    font-weight: normal;
}
.btnSms, .btnSms:focus, .btnSms:hover {
   /* position: absolute;*/
	/*height: 30px;*/
    display: block;
	width: 90%;/*150px;*/
	font-size:1.2em;
	text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #00cc00;/*#0281c8;*/
    color: white;
    text-decoration: none;
}
.side-image img{
    width: 100%;
    height: auto;
}
.footer {
    clear: both;
    max-width: 100%;
    margin-bottom: 10px;
    color: #898989;
    font-size: 1.2em;
    text-align: justify;
}

@media (max-width: 991px){
	.side-image{
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px){
    .maintText .title{
        font-size: 34px;
    }
    .maintText .subTitle{
    font-size: 26px;
    }
}
@media (min-width: 360px) and (max-width: 768px){
    .maintText .title{
        font-size: 20px;
    }
    .maintText .subTitle{
    font-size: 16px;
    }
}
@media (min-width: 300px) and (max-width: 360px){
    .maintText .title{
        font-size: 20px;
    }
    .maintText .subTitle{
    font-size: 15px;
    }
}