body {
    font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    /*background: #0281c8;*/
}
.container {
    width: 100%;
    max-width: 62.5em;
    margin: 0px auto;
}

.header {
    height: 130px;
    min-height: 50px;
    max-height: 130px;
    background: url("./images/bg-repeat.gif"); 
    text-align: center;
}
.header img{
    margin: 12px 0px;
    height: auto;
    max-width: 100%;
}

.mainBody {
    width: 75%;
    float: left;
}
.sideImage {
    width: 25%;
    float: right;
}
.sideImage img{
    width: 100%;
    height: auto;
}

.maintText {
    padding: 20px;
}
.maintText .title{
    font-size: 34px;
    font-weight: normal;
}
.maintText .subTitle{
    font-size: 26px;
    font-weight: normal;
}
.footer {
    clear: both;
    max-width: 100%;
    margin-bottom: 10px;
    color: #898989;
    font-size: 11px;
    text-align: justify;
}
.subTitle input{
    height: 30px;
    width: 150px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.8);
}
.btnSms {
   /* position: absolute;*/
    width: 150px;
    height: 30px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #00cc00;/*#0281c8;*/
    color: white;
    text-decoration: none;
}
